<div class="chat-window">
  <div class="chat-content">
    <div class="chat-main">
      <div class="messages-container">
      {{#if chat}}
        {{#each chat.messages}}
          <div class="message-wrapper {{#if isMine}}justify-end{{else}}justify-start{{/if}}">
            {{#unless isMine}}
              <img src="{{../chat.avatar}}" alt="Avatar" class="message-avatar">
            {{/unless}}

            <div class="message-bubble">
              <div class="message-text">{{text}}</div>
              <div class="message-time">
                {{#if time}}{{time}}{{else}}только что{{/if}}
              </div>
            </div>

            {{#if isMine}}
              <img src="{{../currentUser.avatar}}" alt="Avatar" class="message-avatar">
            {{/if}}
          </div>
        {{/each}}
      {{else}}
        <div class="no-chat-selected">
          <p>Выберите чат, чтобы начать общение</p>
        </div>
      {{/if}}
      </div>
    </div>

    {{#if chat}}
      <div class="message-input-container">
        <form id="message-form" class="message-form" onsubmit="return false;">
          <input
            id="message-input"
            name="message"
            type="text"
            class="message-input"
            placeholder="Написать сообщение..."
            autocomplete="off"
          >
          <button class="send-button" type="submit" title="Отправить сообщение">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/>
            </svg>
          </button>
        </form>
      </div>
    {{/if}}
  </div>

  {{{chatSidebar}}}
</div>
