<div class="chat-container">
  <div class="sidebar">
    <div class="sidebar-header">
      <form class="search-form">
        <input type="search" placeholder="Поиск" class="search-input">
        <button type="submit" class="search-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
      </form>
      {{{settingsButton}}}
    </div>
    {{{chatList}}}
  </div>

  <div class="chat-content">
    {{#if selectedChat}}
      <div class="chat-window-container">
        {{{chatHeader}}}
        <div class="chat-window">
          {{{chatWindow}}}
        </div>
      </div>
    {{else}}
      <div class="chat-placeholder">
        <p>Выберите чат из списка</p>
      </div>
    {{/if}}
  </div>
</div>
